<div class="header">
  <a [routerLink]="['/lab-reserve/labs']" nz-button>返回</a>
  <ng-container *ngIf="lab">
    <h2>{{lab.code}}</h2>
    <a nz-popconfirm nz-button nzType="danger" nzTitle="确定要删除吗？" (nzOnConfirm)="remove()">删除</a>
    <a nz-button nzType="primary" [routerLink]="['/lab-reserve', 'labs',lab.id,'edit']">修改</a>
  </ng-container>
</div>

<div *ngIf="lab" class="instrument-detail">
  <h3>基本信息</h3>
  <p>
    id：{{lab.id}}<br>
    实验室代号：{{lab.code}}<br>
    容量：{{lab.capacity}}<br>
    描述：{{lab.description}}<br>
  </p>
  <h3>预约情况</h3>
  <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="startdate"></nz-date-picker>
  <div *ngIf="lab_reservations">
    <p *ngFor="let reservation of lab_reservations">
      <span>id：{{reservation.id}}</span>
      申请人：{{reservation.applier.name}}<br>
      开始时间：{{TStoStr(reservation.startTime)}}<br>
      结束时间：{{TStoStr(reservation.endTime)}}<br>
      <span>状态：{{StatusTranslate(reservation.status)}}</span>
      描述：{{reservation.description}}<br>
      <a nz-popconfirm nz-button nzType="danger" nzTitle="确定要同意此申请吗？" (nzOnConfirm)="R_approve(reservation.id)">同意此申请</a>
      <a nz-popconfirm nz-button nzType="danger" nzTitle="确定要抨击此申请吗？" (nzOnConfirm)="R_reject(reservation.id)">抨击此申请</a>
    </p>
  </div>
</div>


