<div class="header">
  <button id="btn-go-back" (click)="goBack()" class="button button-black">返回</button>
  <h2>{{paper?.title}}</h2>
  <!--<button id="btn-submit" class="button">提交</button>-->
</div>

<div *ngIf="paper">
  <h3>基本信息</h3>
  <p>
    id：{{paper.id}}<br>
    标题：{{paper.title}}<br>
    主题：{{paper.subject}}<br>
    关键词：{{paper.keyword}}<br>
    摘要：{{paper.abstract}}<br>
    指导教师：<span *ngFor="let teacher of paper.teachers">{{teacher.name}}</span><br>
    发表年份：{{paper.publishYear}}
  </p>
</div>

<div *ngIf="uploader">
  <h3>上传文件</h3>
  <div>
    <!--<form action="/api/test/" method="post">-->
      <input type="file" ng2FileSelect [uploader]="uploader"/>
      <!--<input type="file" name="paperFile" ng2FileSelect [uploader]="uploader" />-->
      <!--<button type="submit" class="button">-->
        <button class="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        上传
      </button>
      <span *ngIf="uploader.progress==100">{{uploader.queue[0]?.isSuccess?'上传成功':'上传失败'}}</span>
    <!--</form>-->
  </div>
</div>

<div *ngIf="schema" class="schema">
  <h3>Schema文档</h3>
  <p>{{schema}}</p>
</div>

<div *ngIf="paper" class="labels">
  <h3>标签管理</h3>
  <div style="border-bottom: solid 1px #d1d1d1;margin-bottom: 10px;padding-bottom: 5px">
    <button *ngFor="let label of paper.labels" (click)="removeLabel(label.id)" class="button button-sm button-black" style="margin-right: 10px">{{label.name}}</button>
    <span *ngIf="paper.labels.length==0">暂无标签</span>
  </div>
  <div>
    <input type="text" placeholder="搜索标签…" [ngModel]="labelSearchText" (ngModelChange)="labelSearchTextChanged($event)">
    <div *ngFor="let label of filteredLabels" class="filteredLabel">
      <span><span style="font-weight: bold">{{label.name}}</span><span style="color: gray;">（上级标签：{{label.parentName}}）</span></span>
      <button (click)="addLabel(label)" class="button button-sm" style="float: right;">添加</button>
    </div>

  </div>
</div>
