.header-buttons{
  width:100%;
  height: 60px;
  position: relative;
  #btn-go-back{
    position: absolute;
    left:0;
    top:10px;
  }
  #btn-submit{
    position: absolute;
    right:0;
    top:10px;
  }
}

.schema{
  p{
    background-color: #f4f5f6;
    border-left: .3rem solid #9b4dca;
    padding:15px;
  }
}
