<a style="margin-top: 15px" class="btn btn-primary" [routerLink]="['/reagent/add']">增加试剂</a>
<div class="search-box" style="float: right;padding-top: 15px">
  <input [(ngModel)]="searchTextInputed" type="text" title="搜索" placeholder="搜索" class="form-control">
  <button class="btn btn-primary" (click)="search()" style="vertical-align: inherit">搜索</button>
</div>

<div class="reagent" *ngFor="let reagent of reagents">
  <h3>
    <a [routerLink]="['/reagent',reagent.id]">{{reagent.englishName}} {{reagent.chineseName}}</a>
    <br>
    <span *ngIf="reagent.alias">&nbsp;({{reagent.alias}})</span>
  </h3>
  <!--TODO 危化品显示-->
  <!--<p>-->
    <!--<label *ngFor="let label of reagent.labels" class="label label-gray">{{label.name}}</label>-->
    <!--<span *ngIf="reagent?.labels.length==0">暂无标签</span>-->
  <!--</p>-->
</div>

<div>
  <ngb-pagination [pageSize]="1" [collectionSize]="totalPageCount" [page]="pageNumber" (pageChange)="pageChange($event)" [boundaryLinks]="true"></ngb-pagination>
</div>
