<div class="head">
  <a nz-button nzType="primary" [routerLink]="['/user/add']">添加用户</a>
  <a nz-button nzType="primary" [routerLink]="['/user/add-bulk']">批量导入</a>
  <button nz-button nz-popconfirm nzTitle="确定要删除吗？" nzType="danger" (nzOnConfirm)="deleteAll()">删除整页</button>
  <nz-select [(ngModel)]="sort" nzPlaceHolder="排序方式" nzAllowClear style="width: 160px" (ngModelChange)="fetchPage()">
    <nz-option nzValue="username" nzLabel="账号-正序"></nz-option>
    <nz-option nzValue="-username" nzLabel="账号-倒序"></nz-option>
    <nz-option nzValue="name" nzLabel="姓名-正序"></nz-option>
    <nz-option nzValue="-name" nzLabel="姓名-倒序"></nz-option>
    <nz-option nzValue="joined_at" nzLabel="注册时间-正序"></nz-option>
    <nz-option nzValue="-joined_at" nzLabel="注册时间-倒序"></nz-option>
    <nz-option nzValue="semester" nzLabel="学期-正序"></nz-option>
    <nz-option nzValue="-semester" nzLabel="学期-倒序"></nz-option>
    <nz-option nzValue="studentClass" nzLabel="教学班-正序"></nz-option>
    <nz-option nzValue="-studentClass" nzLabel="教学班-倒序"></nz-option>
    <nz-option nzValue="teacherName" nzLabel="教师姓名-正序"></nz-option>
    <nz-option nzValue="-teacherName" nzLabel="教师姓名-倒序"></nz-option>
    <nz-option nzValue="accountType" nzLabel="账号类型-正序"></nz-option>
    <nz-option nzValue="-accountType" nzLabel="账号类型-倒序"></nz-option>
  </nz-select>

  <div class="search-box" style="float: right">
    <input nz-input [(ngModel)]="searchTextInputted" type="text" title="搜索" placeholder="搜索">
    <button nz-button nzType="primary" (click)="search()">搜索</button>
  </div>
</div>


<div *ngIf="page">
  <nz-table
    #basicTable
    [nzData]="page.items"
    [nzTotal]="page.totalItemCount"
    [nzPageSize]="page.pageSize"
    [nzPageIndex]="pageNumber"
    [nzFrontPagination]="false"
    (nzPageIndexChange)="pageChange($event)"
  >
    <thead>
    <tr>
      <th>账号</th>
      <th>姓名</th>
      <th>学期</th>
      <th>班级</th>
      <th>教师</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of basicTable.data">
      <td>{{user.username}}</td>
      <td>{{user.name}}</td>
      <td>{{user.semester}}</td>
      <td>{{user.studentClass}}</td>
      <td>{{user.accountType}}</td>
      <td>
        <a [routerLink]="['/user',user.id,'edit']">修改</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzTitle="确定要删除吗？" (nzOnConfirm)="remove(user.id)">删除</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

