<a nz-button nzType="primary" [routerLink]="['/user/add']">添加用户</a>

<div class="search-box" style="float: right">
  <input nz-input [(ngModel)]="searchTextInputted" type="text" title="搜索" placeholder="搜索">
  <button nz-button nzType="primary" (click)="search()">搜索</button>
</div>


<div *ngIf="page">
  <nz-table
    #basicTable
    [nzData]="page.items"
    [nzTotal]="page.totalItemCount"
    [nzPageSize]="page.pageSize"
    [nzPageIndex]="pageNumber"
    (nzPageIndexChange)="pageChange($event)"
  >
    <thead>
    <tr>
      <th>账号</th>
      <th>姓名</th>
      <th>账号类型</th>
      <th>注册时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of basicTable.data">
      <td>{{user.username}}</td>
      <td>{{user.name}}</td>
      <td>{{user.accountType}}</td>
      <td>{{user.joined_at}}</td>
      <td>
        <a>修改</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>删除</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

