<div class="head">
  <a nz-button nzType="primary" [routerLink]="['/user/add']">添加用户</a>
  <a nz-button nzType="primary" [routerLink]="['/user/add-bulk']">批量导入</a>

  <div class="search-box" style="float: right">
    <input nz-input [(ngModel)]="searchTextInputted" type="text" title="搜索" placeholder="搜索">
    <button nz-button nzType="primary" (click)="search()">搜索</button>
  </div>
</div>


<div *ngIf="page">
  <nz-table
    #basicTable
    [nzData]="page.items"
    [nzTotal]="page.totalItemCount"
    [nzPageSize]="page.pageSize"
    [nzPageIndex]="pageNumber"
    [nzFrontPagination]="false"
    (nzPageIndexChange)="pageChange($event)"
  >
    <thead>
    <tr>
      <th>账号</th>
      <th>姓名</th>
      <th>账号类型</th>
      <th>注册时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of basicTable.data">
      <td>{{user.username}}</td>
      <td>{{user.name}}</td>
      <td>{{user.accountType}}</td>
      <td>{{user.joined_at}}</td>
      <td>
        <a [routerLink]="['/user',user.id,'edit']">修改</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzTitle="确定要删除吗？" (nzOnConfirm)="remove(user.id)">删除</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

