<div class="header">
  <button id="btn-go-back" (click)="location.back();" class="btn btn-primary">返回</button>
  <h2>{{reagent?.englishName}}</h2>
</div>


<form *ngIf="reagent" class="form-group">
  <label for="chineseNameField">中文名</label>
  <input class="form-control" type="text" id="chineseNameField" [(ngModel)]="reagent.chineseName" name="chineseName">

  <label for="englishNameField">英文名</label>
  <input class="form-control" type="text" id="englishNameField" [(ngModel)]="reagent.englishName" name="englishName">

  <label for="aliasField">别名（多个别名请用空格分隔）</label>
  <input class="form-control" type="text" id="aliasField" [(ngModel)]="reagent.alias" name="alias">

  <label for="molecularFormulaField">分子式</label>
  <input class="form-control" type="text" id="molecularFormulaField" [(ngModel)]="reagent.molecularFormula" name="molecularFormula">

  <label for="molecularWeightField">分子量</label>
  <input class="form-control" type="text" id="molecularWeightField" [(ngModel)]="reagent.molecularWeight" name="molecularWeight">

  <label for="dangerousField">危化品类型（如果不是危化品请留空）</label>
  <input class="form-control" type="text" id="dangerousField" [(ngModel)]="reagent.dangerous" name="dangerous">

  <label for="descriptionField">简介</label>
  <textarea class="form-control" id="descriptionField" [(ngModel)]="reagent.description" style="height: 15em;" name="description"></textarea>

  <div style="padding-top: 20px; text-align: center">
    <button class="btn btn-primary" (click)="submit()">提交</button>
  </div>

</form>

