<div class="header">
  <button (click)="location.back();" nz-button>返回</button>
  <h2 *ngIf="!createMode">{{reagent?.englishName}}</h2>
  <h2 *ngIf="createMode">添加试剂</h2>
</div>


<form *ngIf="reagent" class="form-group">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="chineseNameField">中文名</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input type="text" id="chineseNameField" [(ngModel)]="reagent.chineseName" name="chineseName">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="englishNameField">英文名</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input type="text" id="englishNameField" [(ngModel)]="reagent.englishName" name="englishName">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="aliasField">别名（多个别名请用空格分隔）</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input type="text" id="aliasField" [(ngModel)]="reagent.alias" name="alias">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="molecularFormulaField">分子式</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input type="text" id="molecularFormulaField" [(ngModel)]="reagent.molecularFormula" name="molecularFormula">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="molecularWeightField">分子量</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input type="text" id="molecularWeightField" [(ngModel)]="reagent.molecularWeight" name="molecularWeight">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6">危化品</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <label nz-checkbox [(ngModel)]="reagent.dangerous"></label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="descriptionField">简介</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <textarea nz-input id="descriptionField" [(ngModel)]="reagent.description" style="height: 15em;" name="description"></textarea>
    </nz-form-control>
  </nz-form-item>

  <div style="padding-top: 20px; text-align: center">
    <button nz-button nzType="primary" (click)="submit()">提交</button>
  </div>

</form>

