<nz-layout>
  <nz-sider>
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'">
      <li nz-submenu>
        <span title><i class="anticon anticon-team"></i><span class="nav-text">账号</span></span>
        <ul>
          <li nz-menu-item routerLink="/account/profile">账号信息</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-database"></i><span class="nav-text">论文</span></span>
        <ul>
          <li nz-menu-item routerLink="/paper/list/1">论文管理</li>
          <li nz-menu-item routerLink="/labels/paper">论文标签</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-filter"></i><span class="nav-text">试剂</span></span>
        <ul>
          <li nz-menu-item routerLink="/reagent/list/1">试剂管理</li>
          <li nz-menu-item routerLink="/labels/reagent">试剂标签</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-api"></i><span class="nav-text">仪器</span></span>
        <ul>
          <li nz-menu-item routerLink="/instrument/list/1">仪器管理</li>
          <li nz-menu-item routerLink="/labels/instrument">仪器标签</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-message"></i><span class="nav-text">讨论区</span></span>
        <ul>
          <li nz-menu-item routerLink="/bbs/post/list/1">讨论列表</li>
          <li nz-menu-item routerLink="/bbs/group">讨论版块管理</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-profile"></i><span class="nav-text">公告</span></span>
        <ul>
          <li nz-menu-item routerLink="/notice/list/1">公告管理</li>
        </ul>
      </li>
      <!--<li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">File</span></span></li>-->
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <h2 class="route-title">
        {{(route.firstChild?.data | async)?.title}}
      </h2>
    </nz-header>
    <nz-content style="margin:16px;">
      <div style="padding:24px; background: #fff; min-height: 360px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">BioLab ©2018 Built with Angular</nz-footer>
  </nz-layout>
</nz-layout>
