nav.header{
  width:100%;
  position: fixed;
  top:0;
  left:0;
  background: #f4f5f6;
  border-bottom: 1px solid #d1d1d1;
  height:50px;
  padding-top: 5px;
  padding-left: 10px;
  .content{
    max-width:1200px;
    padding:0 100px;
    margin:0 auto;
  }
  h1{
    font-size: 30px;
    padding:0;
    margin:0;
    display: inline-block;
  }
}


div.container{
  margin-top: 50px;
  max-width:1200px;
  margin-left:auto;
  margin-right: auto;
  padding:0 100px;
}
