<div class="header">
  <button id="btn-go-back" (click)="location.back();" class="button button-black">返回</button>
  <h2>{{paper?.title}}</h2>
</div>


<form *ngIf="paper">
  <fieldset>
    <label for="titleField">标题</label>
    <input type="text" id="titleField" [(ngModel)]="paper.title" name="title">

    <label for="subjectField">主题</label>
    <textarea id="subjectField" [(ngModel)]="paper.subject" style="height: 8em;" name="subject"></textarea>

    <label for="keywordField">关键词</label>
    <input type="text" id="keywordField" [(ngModel)]="paper.keyword" name="keyword">

    <label for="publishYearField">发表年份</label>
    <input type="text" id="publishYearField" [(ngModel)]="paper.publishYear" name="publishYear">

    <label for="abstractField">摘要</label>
    <textarea id="abstractField" [(ngModel)]="paper.subject" style="height: 15em;" name="abstract"></textarea>

    <label for="majorField">作者专业</label>
    <input type="text" id="majorField" [(ngModel)]="paper.major" name="major">
  </fieldset>
  <button class="button">提交</button>
</form>

