.control-group {
  margin: 12px 0;
  button {
    margin-right: 10px;
  }
}

div.file {
  display: flex;
  align-items: center;
  padding: 2px 0;
  span {
    flex: auto;
  }
  a, button {
    flex: none;
    margin-left: 10px;
  }
  &:hover {
    background: #d5ddff;
  }
}
