<nz-breadcrumb *ngIf="path">
  <nz-breadcrumb-item *ngFor="let folder of path">
    <a (click)="goFolder(null)">
      课件资料
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngFor="let folder of path">
    <a (click)="goFolder(folder)">
      {{folder.name}}
    </a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="control-group">
  <nz-upload [nzAction]="uploadUrl" [nzShowUploadList]="false" [nzWithCredentials]="true" (nzChange)="onUploadChange($event)">
    <button nz-button nzType="primary">
      <i class="anticon anticon-upload"></i>
      <span>上传</span>
    </button>
  </nz-upload>

  <button nz-button nzType="primary">新建文件夹</button>
</div>

<ng-container *ngIf="files">
  <div *ngFor="let file of files" class="file">
    <span>
      <i class="anticon anticon-file" *ngIf="!file.isFolder"></i>
      <i class="anticon anticon-folder" *ngIf="file.isFolder"></i>
      {{file.name}}
    </span>
    <button nz-button *ngIf="file.isFolder" (click)="goFolder(file)">打开</button>
    <a nz-button *ngIf="!file.isFolder" [href]="getDownloadLink(file)" target="_blank">下载</a>
    <button nz-button nz-popconfirm nzTitle="确定要删除吗？" nzType="danger" (nzOnConfirm)="deleteFile(file)">删除</button>
  </div>
  <div *ngIf="files.length === 0">
    文件夹为空
  </div>
</ng-container>
