<div class="header">
  <a [routerLink]="['/notice/list/1']" nz-button>返回</a>
  <ng-container *ngIf="notice">
    <h2>
      <i class="anticon anticon-star orange" *ngIf="notice.starred"></i>
      {{notice.title}}
    </h2>
    <button *ngIf="notice.starred === true" nz-button nzType="primary" (click)="unstar()">取消标星</button>
    <button *ngIf="notice.starred === false" nz-button (click)="star()">标星</button>
    <a nz-button nzType="primary" [routerLink]="['/notice',notice.id,'edit']">修改</a>
  </ng-container>
</div>

<div *ngIf="notice" class="notice-detail">
  <h3>基本信息</h3>
  <p>
    id：{{notice.id}}<br>
    标题：{{notice.title}}<br>
  </p>
  <h3>内容</h3>
  <div [innerHtml]="notice.content | sanitizeHtml" class="html-document"></div>
</div>
