<div class="header">
  <a [routerLink]="['/reagent/list/1']" nz-button>返回</a>
  <h2>{{reagent?.englishName}}</h2>
  <a nz-popconfirm nz-button nzType="danger" nzTitle="确定要删除吗？" (nzOnConfirm)="remove()">删除</a>
  <a *ngIf="reagent" nz-button nzType="primary" [routerLink]="['/reagent',reagent.id,'edit']">修改</a>
</div>

<div *ngIf="reagent">

  <div>
    <h3>基本信息</h3>
    <p>
      id：{{reagent.id}}<br>
      英文名：{{reagent.englishName}}<br>
      中文名：{{reagent.chineseName}}<br>
      别名：{{reagent.alias}}<br>
      简介：{{reagent.description}}<br>
      分子式：<span [innerHtml]="reagent.molecularFormulaParsed"></span><br>
      分子量：{{reagent.molecularWeight}}<br>
      危化品：{{reagent.dangerous?'是':'否'}}<br>
    </p>
  </div>

  <div>
    <h3>图片</h3>
    <p>点击图片可以查看大图</p>
    <div *ngIf="reagent.pictures.length==0">
      <p align="center">暂无图片</p>
    </div>
    <div *ngFor="let picture of reagent.pictures; let i = index" class="reagent-picture">
      <a [href]="picture.url" target="_blank">
        <img [src]="picture.url+'?imageMogr2/thumbnail/300x'">
      </a>
      <div class="right">
        <p>{{picture.description}}</p>
        <button nz-button (click)="editPictureDescription(picture.id)">修改图片描述</button><br>
        <button nz-button (click)="removePicture(picture.id)">删除</button><br>
        <button nz-button [disabled]="i==0" (click)="movePicture(picture.id,'up')">↑上移</button>
        <button nz-button [disabled]="i==reagent.pictures.length-1" (click)="movePicture(picture.id,'down')">↓下移</button>
      </div>
    </div>
    <div *ngIf="uploader" class="uploader">
      <input type="file" ng2FileSelect [uploader]="uploader"/>
      <button nz-button (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        上传
      </button>
      <span *ngIf="uploader.queue.length>0">
        <span *ngIf="uploader.queue[uploader.queue.length-1]?.isUploading">上传中</span>
        <span *ngIf="uploader.queue[uploader.queue.length-1]?.isSuccess">上传成功</span>
        <span *ngIf="uploader.queue[uploader.queue.length-1]?.isError">上传失败</span>
      </span>
    </div>
  </div>

  <div class="labels">
    <h3>标签管理</h3>
    <label-management [item]="reagent" itemType="reagent"></label-management>
  </div>

</div>
