.reagent-picture{
  padding: 10px 10px;
  border: solid 1px #e1e1e1;
  width: 100%;
  a{
    display: inline-block;
    width:300px;
  }
  .right{
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
  }
  button{
    margin-bottom: 0.3em;
  }
}

.uploader{
  margin-top: 20px;
}

div.filteredLabel{
  height:40px;
  padding-top: 5px;
  position: relative;
  button{
    position: absolute;
    right:0;
    top:0;
  }
}
