<div class="header">
  <a [routerLink]="['/paper/list/1']" nz-button>返回</a>
  <h2>{{paper?.title}}</h2>
  <a nz-popconfirm nz-button nzType="danger" nzTitle="确定要删除吗？" (nzOnConfirm)="remove()">删除</a>
  <a *ngIf="paper" id="btn-edit" nz-button nzType="primary" [routerLink]="['/paper',paper.id,'edit']">修改</a>
</div>

<div *ngIf="paper">
  <h3>基本信息</h3>
  <p>
    id：{{paper.id}}<br>
    篇名：{{paper.title}}<br>
    作者：{{paper.author}}<br>
    作者专业：{{paper.major}}<br>
    主题：{{paper.subject}}<br>
    关键词：{{paper.keyword}}<br>
    摘要：{{paper.abstract}}<br>
    指导教师：<span *ngFor="let teacher of paper.teachers">{{teacher.name}}</span><br>
    年度：{{paper.publishYear}}
  </p>
</div>

<div *ngIf="uploader">
  <h3>上传文件</h3>
  <div>
    <!--<form action="/api/test/" method="post">-->
    <input type="file" ng2FileSelect [uploader]="uploader"/>
    <!--<input type="file" name="paperFile" ng2FileSelect [uploader]="uploader" />-->
    <!--<button type="submit" class="button">-->
    <button nz-button (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      上传
    </button>
    <span *ngIf="uploader.queue.length>0">
        <span *ngIf="uploader.queue[uploader.queue.length-1]?.isUploading">上传中</span>
        <span *ngIf="uploader.queue[uploader.queue.length-1]?.isSuccess">上传成功</span>
        <span *ngIf="uploader.queue[uploader.queue.length-1]?.isError">上传失败</span>
      </span>
    <!--</form>-->
  </div>
  <div style="margin: 10px 0 20px;">
    <button nz-button (click)="openModal(modalContent)">更新PDF内容文字</button>
  </div>
</div>

<div *ngIf="paper" class="labels">
  <h3>标签管理</h3>
  <label-management [item]="paper" itemType="paper"></label-management>
</div>



<ng-template #modalContent let-c="close" let-d="dismiss">
  <textarea rows="8" nz-input [(ngModel)]="newPdfContent"></textarea>
</ng-template>
