.schema{
  p{
    background-color: #f4f5f6;
    border-left: .3rem solid #9b4dca;
    padding:15px;
  }
}


div.filteredLabel{
  height:40px;
  padding-top: 5px;
  position: relative;
  button{
    position: absolute;
    right:0;
    top:0;
  }
}
