/* You can add global styles to this file, and also import other style files */

h3{
  margin-bottom: 10px;
}


.button{
  text-transform: none!important;
}

.label{
  background-color: #9b4dca;
  border-radius: .4rem;
  color: #fff;
  height: 2.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  display: inline-block;
  margin-right: 5px;
  padding-left: 6px;
  padding-right: 6px;
}
.label-black{
  background-color: black;
  border-color: black;
}
.label-gray{
  background-color: gray;
  border-color: gray;
}



.button-black {
  background-color: black;
  border-color: black;
}
.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color: black;
}
.button-black.button-clear {
  border-color: transparent;
}

.button-xs {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.button-sm {
  font-size: 1.4rem;
  height: 3.2rem;
  line-height: 3.2rem;
  padding: 0 1.2rem;
}

.button-lg {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}
