<div class="header">
  <button (click)="location.back();" nz-button>返回</button>
  <h2 *ngIf="!createMode">{{currLab?.chineseName}}</h2>
  <h2 *ngIf="createMode">创建实验室</h2>
</div>

<div *ngIf="currLab">
  <form>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="codeField">房号</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <input nz-input type="text" id="codeField" [(ngModel)]="currLab.code" name="chineseName">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="capacityField">容量（人）</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <input nz-input type="text" id="capacityField" [(ngModel)]="currLab.capacity" name="englishName">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="descriptionField">描述</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <textarea nz-input type="text" id="descriptionField" [(ngModel)]="currLab.description" name="modelNumber" rows="12"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div style="padding-top: 20px; text-align: center">
    <button nz-button nzType="primary" (click)="submit()">提交</button>
  </div>
</div>


