<div class="header">
  <a id="btn-go-back" [routerLink]="['/instrument/list/1']" nz-button>返回</a>
  <h2>{{instrument?.chineseName}}</h2>
  <a *ngIf="instrument" id="btn-edit" nz-button nzType="primary" [routerLink]="['/instrument',instrument.id,'edit']">修改</a>
</div>

<div *ngIf="instrument" class="instrument-detail">
  <h3>基本信息</h3>
  <p>
    id：{{instrument.id}}<br>
    中文名：{{instrument.chineseName}}<br>
    英文名：{{instrument.englishName}}<br>
    型号：{{instrument.modelNumber}}<br>
    正面图：<img [src]="instrument.coverImg"><br>
  </p>
  <h3>外部</h3>
  <div [innerHtml]="instrument.content.outer | sanitizeHtml"></div>
  <h3>内部</h3>
  <div [innerHtml]="instrument.content.inner | sanitizeHtml"></div>
  <h3>说明书</h3>
  <div [innerHtml]="instrument.content.instructions | sanitizeHtml"></div>
  <h3>注意事项</h3>
  <div [innerHtml]="instrument.content.attentions | sanitizeHtml"></div>
</div>

<div *ngIf="instrument" class="labels">
  <h3>标签管理</h3>
  <label-management [item]="instrument" itemType="instrument"></label-management>
</div>

