<a nz-button nzType="primary" [routerLink]="['/paper/add']">增加论文</a>

<div class="search-box" style="float: right">
  <input nz-input [(ngModel)]="searchTextInputed" type="text" title="搜索" placeholder="搜索">
  <button nz-button nzType="primary" (click)="search()">搜索</button>
</div>

<div class="paper-list">
  <div class="paper" *ngFor="let paper of papers">
    <h3><a [routerLink]="['/paper',paper.id]">{{paper.title}}</a></h3>
    <p *ngIf="paper.labels">
      <nz-tag *ngFor="let label of paper.labels">{{label.name}}</nz-tag>
      <nz-tag *ngIf="paper?.labels.length==0">暂无标签</nz-tag>
    </p>
  </div>
</div>

<nz-pagination [nzPageSize]="1" [nzTotal]="totalPageCount" [nzPageIndex]="pageNumber" (nzPageIndexChange)="pageChange($event)"></nz-pagination>
